name: run-github-licensing-bot

on:
  - workflow_dispatch

env:
  IMAGE_NAME: github-licensing-bot
  REGISTRY: ghcr.io
  USER: samiwelthomasho
  VERSION: 1.0.0
  ENTERPRISE_NAME: ukhomeoffice

jobs:
  run-licensing-bot:
    runs-on: ubuntu-latest
    steps:
      - name: Run github-licensing-bot
        run: docker run -t ${{ env.REGISTRY }}/${{ env.USER }}/${{ env.IMAGE_NAME }}:${{ env.VERSION }}
        env:
          GITHUB_ENTERPRISE_NAME: ${{ env.ENTERPRISE_NAME }}
          GITHUB_TOKEN: ${{ secrets.ENTERPRISE_BILLING_TOKEN }}
          OVER_LICENSED_THRESHOLD: 20
          UNDER_LICENSED_THRESOLD: 10
          SLACK_ALERTS_CHANNEL: 'github-alerts'
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}