name: run-github-licensing-bot

on:
  - workflow_dispatch

env:
  IMAGE_NAME: github-licensing-bot
  REGISTRY: ghcr.io
  USER: samiwelthomasho
  VERSION: 1.0.0

jobs:
  run-licensing-bot:
    runs-on: ubuntu-latest
    steps:
      - name: Run monitoring mixin
        run: docker run -t ${{ env.REGISTRY }}/${{ env.USER }}/${{ env.IMAGE_NAME }}:${env.VERSION}